# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


# emacs
*~

# Eclipse
.classpath
.settings
.project

# Katalon Studio
/bin/
Libs/
settings/

Keywords/
Drivers/
Materials/
Object Repository/
Profiles/
Reports/
Scripts/
Storage/
Test Cases/
Test Listeners/
Test Suites/
run-console-mode.*