# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


# emacs
*~

# Eclipse
.classpath
.settings
.project

# Katalon Studio
/bin/
Libs/
settings/

Test Cases/
Test Listeners/
Test Suites/
Drivers/
Keywords/
Materials/
Object Repository/
Profiles/
Reports/
Scripts/
Storage/
gradlew*
run-*
vt-run-*
